.header__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: .24rem;
  color: var(--ion-color-secondary);
}

.item-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
}

.item-id {
  padding-right: 10px;
  text-align: center;
  font-weight: bold;
}

.item-content {
  overflow: hidden;
}

.item-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.item-description {
  font-size: 0.9rem;
  color: #666666;
  height: 25px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: scroll;
  line-height: 25px;
}
.ion-icon {
  flex: 0 0 auto;
  margin-left: 10px;
  color: var(--ion-color-primary);
}
.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #999999;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}
