.item-container {
  display: flex;
  align-items: center;
}

.item-id {
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.item-content {
  flex-grow: 1;
  padding-left: 10px;
}

.item-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.item-description {
  font-size: 0.9rem;
  color: #666666;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #999999; /* Color del mensaje vacío */
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-option {
  color: #1e1e1e;
}